/* https://coolors.co/1c231a-394836-3f4f3b-546a4f-6c8367-dde5dc-b39c4d */

body {
  background-color: 546A4F;
  background-image: url("leaves2.png") 
}

h1 {
 color: 1C231A: 
 text-size: 80%; 
 text-align: center; 
 border: 2px double; 
 border-color: B39C4D; 
}

p {
color: 1C231A; 
text-size: 20%; 
text-align: left;
background-color:6C8367; 
margin-left: auto; 
margin-right: auto;
padding: 6px 6px; 
width: 90%;
border: 2 px solid; 
border-color: B39C4D; 
}

button {
 background-color:1C231A; 
 color: DDE5DC;
 border: 2 px solid;
 border-color: B39C4D; 
 padding: 10px 15px;
 text-align: center; 
 font-size: 16px; 
 margin 4px 6px; 
}

table, th, td {
  border: 1px solid;
  border-color: 1C231A;
  border-collapse: collapse;
  background-color: 6C8367;
  text-align: center; 
  margin-left: auto; 
  margin-right: auto;
  padding: 7 px;
}

/* -------------------------------------STYLE OF NAVIGATION BAR (TAKEN FROM EXAMPLE)------------------- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  background-color: 1C231A;
}


li {
  float: left;
}

li a {
  display: block;
  color: DDE5DC;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: 394836;
}

li a.active {
  background-color: 3F4F3B;
  color: 1C231A;
}
